<form asp-action="Problema1" method="post">
    <div class="form-group">
        <label for="num1">Numero</label>
        <input type="number" class="form-control" id="num1" placeholder="Ingresar Numero" min="0">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>